* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
    text-align: left;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
    text-align: center;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
    text-align: center;
}

main#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "headline headline student-picture"
    "student-quote student-quote student-picture"
    "student-profile student-profile student-contact"
    "experience-grid experience-grid experience-grid"
    ;
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
}

main#main-grid > div#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "experience-code experience-code"
    "experience-database experience-database"
    "experience-web experience-design"
    ;
}
 
h1#headline {
    grid-area: headline;
}

div#student-picture {
    grid-area: student-picture;
   
}

div#student-quote{
    grid-area: student-quote;
}

div#student-profile{
    grid-area: student-profile;
}

div#student-contact{
    grid-area: student-contact;
}

main#main-grid > div#experience-grid {
    grid-area: experience-grid;
}


div#experience-code {
    grid-area: experience-code;
}

div#experience-database {
    grid-area: experience-database;
}

div#experience-web {
    grid-area: experience-web;
}

div#experience-design {
    grid-area: experience-design;
} 
