* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  width: 200px;
  border-right: 1px;
  border-color: rgba(0, 173, 238, 0.4);
  border-style: solid;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
